/*--------------------------------------|
| Site: http://www.smashingmagazine.com |
| Author: John O'Nolan                  |
| Author URI: http://john.onolan.org    |
| Type: Screen                          |
| Date: June 2009                       |
|--------------------------------------*/

/*--- CSS Reset ---*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
}
:focus {
   outline: 0;
}
body {
   line-height: 22px;
}
ul {
   list-style: none;
}
table {
   border-collapse: separate;
   border-spacing: 0;
}
caption, th, td {
   text-align: left;
   font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: "";
}
blockquote, q {
   quotes: "" "";
}

.left {float:left}
.middle {float:left;padding-left:30px;}
.right {float:right;margin-right:0!important;}
	
.clearfix:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

/* Hides from IE-max \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*--- Common ---*/

body {
	font-family:Arial, Verdana, sans-serif;
	color:#fff;
	background:#474747 url(../images/nav-bg.png) top left repeat-x
}

h1 {font-size:50px;letter-spacing:-1px}

h2 {
	width:300px;
	float:left;
	font-size:40px;
	line-height:58px;
	letter-spacing:-1px;
	margin:45px 0 0 70px;
	text-indent:-15px;
}
h3 {
	float:left;
	margin:0 0 30px 0;
	font-family:Times, Georgia, Serif;
	font-weight:normal;
	font-size:30px;
	line-height:30px;
	width:80%;
}

h4 {float:left;margin:0 0 20px 0;font-size:20px;}

p {font-size:16px;line-height:24px;margin-bottom:24px;float:left;}

em {font-style:italic;border-bottom:1px dashed;}
strong {font-weight:bold;color:#ff9000;text-transform:uppercase;}

a {color:#fff;border-bottom:1px solid;}
a:hover {color:#ff9000;}

.o {color:#ff9000}

.number {
	float:right;
	color:#fff;
	font-family:Times, Georgia, Serif;
	font-size:30px;
	line-height:30px;
}


/*--- Layout ---*/

#wrapper {
	width:960px; 
	margin:0 auto; 
	background:url(../images/radial-bg.png) top left no-repeat;
}


/*--- Nav ---*/

#nav {
	list-style:none;
	margin:0;
	padding:7px 0 0 0;
	font-size:20px;
	letter-spacing:-1px;
	position:relative;
	z-index:50;
}

#nav li {float:left;margin:0 72px 0 0;}
#nav li a {text-decoration:none;padding:3px 10px;border:none;}
#nav li#first a {padding-left:0}
	

/*--- Header ---*/

#header {height:325px}
#logo {float:left;margin:65px 0 0 0}


/*--- Content ---*/

.box {
	float:left;
	width:100%;
	margin:45px 30px 0 0;
	padding:10px 0 0 0;
	background:url(../images/box-bg.png) top left repeat-x
}
.small {width:300px;}
.big {width:630px;}

.sidenote p {
	text-align:right;
	font-size:20px;
	line-height:24px;
	margin:-1px 0 24px 0;
	float:none;
}


/*--- Footer ---*/

#footer {
	float:left;
	width:100%;
	height:355px;
	margin:50px 0 0 0;
	background:url(../images/footer-bg.png) bottom left repeat-x;
}
.inner {width:960px;margin:0 auto;padding:40px 0 0 0;text-decoration:none; }
#footer img, #footer p {margin:0 53px 10px 0; width:200px;float:left}

.inner p a {border-bottom:0px;}
.inner p a:hover {border-bottom:1px solid;}

.credits {margin:35px 0 0 0;font-size:13px}
.credits a {text-decoration:none;}